/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato, sans-serif;
/* add height to body for vision purpose
    height: 3000px; */
}

/* remove default list style */
li {
    list-style: none;
}

/* remove default underline for a */
a {
    text-decoration: none;
}

/* define a common width */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* Header start */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
/* Changed: Add z-index and give it a higher value to avoid fixed-nav bar covered by slides images. */
    z-index: 999;
    background-color: #f8f8f8;
}
.logo {
    float: left;
    margin: 0 50px;
}
.logo a {
    color: #ff0000;
    font-weight: bolder;
    letter-spacing: 2px;
}
nav li {
    float: left;
}
nav li a {
    display: inline-block;
    line-height: 50px;
    margin: 0 14px;
    font-weight: 700;
    color: #777;
}
.user {
    float: right;
/* maintain the consistentstate with logo */
    margin-right: 50px;
}
.user span {
    float: right;
    padding-top: 14px;
    color: #777;
}
/* Header end */
/* Slides start */

.container {
    margin: 30px auto;
}
.img img {
    width: 100%;
    height: 600px;
}
.slide label {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: ease 500ms;
}
.slide {
    position: relative;
    width: 100%;
    height: 600px;
}
.img {
    position: absolute;
    width: 100%;
    height: inherit;
    overflow: hidden;
    z-index: 8
}
/* referenced form cloud.tencent.com article no.1774625 */

input[type=radio]:nth-child(1):checked~div.cur label:nth-child(1){
    background-color: #fff;
}
input[type=radio]:nth-child(2):checked~div.cur label:nth-child(2){
    background-color: #fff;
}
input[type=radio]:nth-child(3):checked~div.cur label:nth-child(3){
    background-color: #fff;
}
input[type=radio]:nth-child(4):checked~div.cur label:nth-child(4){
    background-color: #fff;
}
input[type=radio]:nth-child(1):checked~div.img>ul>li:not(:nth-child(1)){
   display: none;
}
input[type=radio]:nth-child(2):checked~div.img>ul>li:not(:nth-child(2)){
   display: none;
}
input[type=radio]:nth-child(3):checked~div.img>ul>li:not(:nth-child(3)){
   display: none;
}
input[type=radio]:nth-child(4):checked~div.img>ul>li:not(:nth-child(4)){
    display: none;
 }
.img ul {
    display: flex;
    width: 100%;
}
.img ul li {
    height: 600px;
    flex: 1;
}
/* position the button in the center of images */

.cur {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
/* Slides End */
/* Dasboard start */

.dashboard {
    margin-bottom: 50px;
}
.dashboard h2 {
    text-align: center;
    font-weight: 700;
    color: #777;
}
/* For dispaly the circle and words container horizontally, styling news container */

.news {
    display: flex;
    align-items: center;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f8f8f8;
/* Make dashboard img at the heart of circle container by using display: flex  */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.circle img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.words {
    flex: 1;
    margin-left: 20px;
    background-color: #f8f8f8;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
/* Add a small triangle to give a better vision experience */

.words::after {
    content:"";
    border: 15px solid #ccc;
    background-color: none;
    width: 0;
    height: 0;
    border-color: transparent #f8f8f8 transparent transparent;
    position: absolute;
    bottom: 30px;
    left: -30px;
}
p {
    color:#777;
    margin: 10px;
}
.icon {
    position: relative;
    margin: 10px 20px;
    width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 15px;
}
.icon span {
    line-height: 30px;
    color: #777;
}
.icon span:nth-child(2) {
    margin: 0 5px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.icon span:nth-child(3) {
    margin-left: 10px;
}
/* Add comments to news */

.icon::after {
    content: "Comments (58)";
    position: absolute;
    top: -1px;
    right: -140px;
    width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    color: #777;
}
/* Dashboard end */
/* Daily special start */

.daily-special {
    margin-bottom: 50px;
}
.circle1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f8f8f8;
/* Make daily-special img at the heart of circle container by using display: flex  */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border: 1px solid #ccc;
}
.circle1 img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}
.update {
    flex: 1;
    margin-right: 20px;
    background-color: #f8f8f8;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
/* Add a small triangle to give a better vision experience */

.update::after {
    content:"";
    border: 15px solid #ccc;
    background-color: none;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #f8f8f8;
    position: absolute;
    bottom: 30px;
    right: -30px;
}
.update h3 {
    text-align: center;
    color: #777;
}
/* Daily special end */
/* Footer start */

footer {
    width: 100%;
    height: 215px;
    background-color: #f8f8f8;
}
.location {
    float: left;
    padding: 30px 30px 0 30px;
    width: 180px;
}
.location h3 {
    color: #777;
    font-size: 20px;
    margin-left: 8px;
}
.info {
    float: left;
}
.info dl {
    float: left;
    margin: 30px 40px 0 40px;
    color: #777;
}
.info dl dt {
    font-size: 20px;
    margin-bottom: 25px;
}
.info dl dd {
    margin-bottom: 25px;
}
.social a {
    font-size: 40px;
    line-height: 215px;
    color: #777;
    margin: 20px;
}
/* Footer end */

/* Western-dessert page start */

.fl-products {
    margin-top: 60px;
    box-sizing: border-box;
    overflow: hidden;
}

.fl-products ul li {
    float: left;
    height: 360px;
    border: 1px solid #ccc;
    padding: 15px;
    position: relative;
}
.fl-products ul li a {
    color: #777;
}
.fl-products p {
    text-align: center;
    font-weight: 700;
}
.fl-products img {
    width: 266px;
    height: 266px;
}
/* Add shopping-cart and heart above images */

.fl-products ul li span {
    position: absolute;
    bottom: 120px;
    left: 105px;
    font-size: 30px;
    transition: 3s;
    visibility: hidden;
    color: #fff;
}
.fl-products ul li span:last-child {
    bottom: 120px;
    left: 175px;
}
.fl-products ul li:hover span {
    visibility: visible;
}

.sl-products {
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.sl-products ul li {
    float: left;
    height: 360px;
    border: 1px solid #ccc;
    padding: 15px;
    position: relative;
}
.sl-products ul li a {
    color: #777;
}
.sl-products p {
    text-align: center;
    font-weight: 700;
}
.sl-products img {
    width: 266px;
    height: 266px;
}
/* Add shopping-cart and heart above images */

.sl-products ul li span {
    position: absolute;
    bottom: 120px;
    left: 105px;
    font-size: 30px;
    transition: 3s;
    visibility: hidden;
    color: #fff;
}
.sl-products ul li span:last-child {
    bottom: 120px;
    left: 175px;
}
.sl-products ul li:hover span {
    visibility: visible;
}

/* Login page start */

section {
    margin: 40px 0 10px 0;
}
/* Set up background-image in form and display the content box at the center */

form {
    width: 100vw;
    height: 100vh;
    background: url(../images/bg-image.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Define login-content and register container */

.login-content,
.register-content {
    position: relative;
    width: 800px;
    height: 360px;
    background-color: #f8f8f8;
    border-radius: 30px;
    padding: 30px;
}
.register-box,
.login-container {
    display: inline-block;
    width: 500px;
    height: 100%;
    background: url(../images/bg-image.jpg) no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-box span,
.login-container span {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    margin: 5px;
}
.login-box,
.register-container {
    width: 330px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777
}
.login-box h1 {
    font-size: 36px;
    margin: 60px 0 30px 0;
}
.login-box input {
    margin-bottom: 20px;
    width: 200px;
    height: 36px;
    padding: 0 20px;
    border-radius: 36px;
/* remove the default border and outline for input  */
    border: none;
    outline: none;
    font-size: 18px;
}
.login-box label,
.register-container label {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
}
#login-btn,
#register-btn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #ccc;
/* remove default border for button */
    border: none;
    border-radius: 40px;
    font-size: 18px;
}
#login-btn,
#register-btn:hover {
    cursor: pointer;
}

/* Register form start */

.login-container span:last-child {
    letter-spacing: 2px;
}
.register-container h1 {
    font-size: 36px;
    margin: 35px 0 20px 0;
}
.register-container input {
    margin-bottom: 10px;
    width: 200px;
    height: 36px;
    padding: 0 10px;
    border-radius: 36px;
    border: none;
    outline: none;
    font-size: 18px;
}
/* Red-velvet-cake introduction start */

.product {
    margin-top: 50px;
    display: flex;
}
.product-img {
    width: 40%;
/* For just scale the images rather than the product-img container, adding overflow: hidden; */
    overflow: hidden;
}
.product-img img {
    width: 100%;
    transition: all 2s;
}
.product-img img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.product-description {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


