/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato, sans-serif;
    height: 3000px;
}

/* remove default list style */
li {
    list-style: none;
}

/* remove default underline for a */
a {
    text-decoration: none;
}

/* define a common width */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* header start */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
}
.logo {
    float: left;
    margin: 0 50px;
}
.logo a {
    color: #ff0000;
    font-weight: bolder;
    letter-spacing: 2px;
}
nav li {
    float: left;
}
nav li a {
    display: inline-block;
    line-height: 50px;
    margin: 0 14px;
    font-weight: 700;
    color: #777;
}
.user {
    float: right;
}
.user span {
    float: right;
    padding-top: 14px;
    color: #777;
}
/* header end */
/* slides start */

section:first-child {
    margin-top: 50px;
}
.slide img {
    width: 100%;
    height: 600px;
}
.slide label {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: ease 500ms;
}
